@font-face {
    font-family: "FontAwesome";
    src: url("../fonts/FONTAWESOME.woff2") format("woff2"), url("../fonts/FONTAWESOME.woff") format("woff");
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OPENSANS-BOLD.woff2") format("woff2"), url("../fonts/OPENSANS-BOLD.woff") format("woff");
}

@font-face {
    font-family: "OpenSans";
    src: url("../fonts/OPENSANS-REGULAR.woff") format("woff"),
    url("../fonts/OPENSANS-REGULAR.woff2") format("woff2");
    font-weight: 500;
}

@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OPENSANS-SEMIBOLD.woff") format("woff"),
    url("../fonts/OPENSANS-SEMIBOLD.woff2") format("woff2");
}


