@import "./_normalize.scss";

@import "./slick.scss";

@import "./slick-theme.scss";

@import "./fonts.scss";

@import "./settings.scss";

@import "./header.scss";



// Настройка главной страгицы header

.preview {
    height: 100vh;
    background-image: url("../media/home/Layer22@3x.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;

    .container-header {
        padding-top: 78px;
    }

    .home {
        position: absolute;
        top: 63%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: white;
        text-align: center;

        h2 {
            font-size: 48px;
            margin: 0;
        }
        p {
            font-size: 24px;
            margin: 0;
        }
        button {
            font-size: 13px;
            color: white;
            border: solid 1px #fff;
            border-radius: 3px;
            margin-top: 6vh;
            padding: 14px 43px 14px 43px;
            box-sizing: border-box;
            transition: 0.5s;
        }
        button:hover {
            background-color: $color;
            border-color: $color;
            outline: none;
        }
    }
}
@media (min-width: 569px) and (max-width: 1165px){
    .preview {
        .container-header {
            padding-top: 15px;
        }
    }    
}
@media(max-width: 568px){
    .preview {
        .container-header {
            padding-top: 15px;
        }
        .home {
            top: 59%;
            h2 {
                font-size: 44px;
            }
            p {
                font-size: 22px;
            }
        }
    }    
}

// Настройка блока OUR Services

.services {
    width: 100%;
    padding-top: 58px;
    padding-bottom: 85px;
    p {
        text-align: center;
        max-width: 890px;
        line-height: 1.7;
        margin: 0 auto;
        margin-top: 61px;
    }
    .services-block {
        display: flex;
        align-items: center;
        margin-top: 34px;
        img {
            max-width: 372px;
            margin-right: 28px;
            object-fit: contain;
        }
        .services-group{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-end;
            .services-item {
                height: 192px;
                width: 170px;
                border: solid 1px #e6e6e6;
                border-radius: 3px;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                svg {
                    height: 38px;
                    padding-top: 36px;
                    fill: $color;
                }
                h4 {
                    font-family: "OpenSans-Semibold", sans-serif;
                    font-size: 14px;
                    width: 93px;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 765px) and (max-width: 1179px){
    .services {
        .services-block {
            justify-content: center;
            .services-group {
                max-width: 509px;
                justify-content: space-around;
                .services-item {
                    margin-bottom: 13px;
                }
            }
        }
    }
}
@media (max-width: 400px) {
    .services {
        .services-block {
            img {
                margin: 0;
                width: 100%;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 764px){
    .services {
        .services-block {
            justify-content: center;
            flex-direction: column;
            .services-group {
                max-width: 509px;
                justify-content: space-around;
                margin-top: 20px;
                .services-item {
                    margin-bottom: 13px;
                }
            }
        }
    }
}

// Настройка блока OUR projects

.projects {
    background-color: #f6f6f6;
    padding-top: 52px;
    padding-bottom: 56px;
    margin-bottom: 83px;

    .projects-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 80px auto 55px auto;
        .gallery-item {
            height: 240px;
            width: 240px;
            position: relative;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .gallery-zoom {
                position: absolute;
                top: 0;
                left: 0;
                height: 240px;
                width: 240px;
                background-color: $color;
                opacity: 0.7;
                cursor: pointer;
                z-index: -5;
                svg {
                    height: 25px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .gallery-item:hover {
            .gallery-zoom {
                z-index: 5;
            }
        }
    }
    .projects-button {
        display: flex;
        justify-content: center;
        button {
            font-size: 13px;
            color: $color;
            border: solid 1px $color;
            border-radius: 3px;
            padding: 14px 36px 14px 36px;
            box-sizing: border-box;
            transition: 0.5s;
        }
        button:hover {
            background-color: $color;
            color: #fff;
            outline: none;
        }
    }
    
}

@media(max-width: 1439px){
    .projects {
        .projects-gallery {
            max-width: 1199px;
        }
    }
}

// Настройка блока OUR testimonials


.testimonials {
    .slider {
        margin-top: 86px;
        .slider_item {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            .slider-header {
                max-width: 124px;
                max-height: 92px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            p {
                line-height: 1.7;
                padding-top: 10px;
                max-width: 882px;
                font-size: 16px;
            }
        }
    }
    
    /* Настройка стрелок слайдера */
    
    .slider .slick-next,
    .slider .slick-prev {
        height: 45px;
        width: 45px;
        z-index: 15;
    }
    .slider .slick-next::before,
    .slider .slick-prev::before {
        content: "";
    }

    
    .slider .slick-next{
        background-image: url("../media/home/icon/sl-arrow_r.svg");
        background-repeat: no-repeat;
        background-position: center;
        right: -3%;
        position: absolute;
        top: 40%;
    }
    
    .slider .slick-prev {
        background-image: url("../media/home/icon/Layer\ 19\ copy.svg");
        background-repeat: no-repeat;
        background-position: center;
        left: -3%;
        position: absolute;
        top: 40%;
    }
}
.slick-dots li button {
    background-color: white;
    border-radius: 50%;
}

@media(max-width: 1239px){
    .testimonials {
        .slider .slick-next {
            right: 0;
        }
        .slider .slick-prev {
            left: 0;
        }
    }
}

// Настройка блока с картинками брендами
.container-brands {
    margin-top: 125px;
}
.brands {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    .brands-logo {
        width: 170px;
        height: 132px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .brands-logo:hover {
        background-color: $color;
        opacity: 0.7;
        transition: 0.7s;
    }
}

@media(max-width: 1019px){
    .brands {
        margin: 0 auto;
        max-width: 679px;
        justify-content: space-around;
    }
}

// Настройка карты

.map {
    iframe {
        width: 100%;
        height: 370px;
        border: none;
    }
}

// Настройка футера

footer {
    background-color: #2c2c2c;
    
    .footer-items {
        max-width: 1170px;
        height: 60px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            flex-grow: 6;
            font-size: 12px;
            margin: 0;
            text-align: start;
            color: #fff;
            a {
                text-transform: uppercase;
                text-decoration: none;
                color: $color;
            }
        }
        
        ul {
            flex-grow: 1;
            list-style: none;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            margin: 0;
            li {
                a {
                    padding: 5px;
                    cursor: pointer;
                    transition: 0.5s;
                    svg {
                        height: 16px;
                        fill: #fff;
                    }
                }
                a:hover {
                    background-color: $color;
                    border-radius: 3px;
                }
            }
        }    
        
        button {
            width: 40px;
            height: 60px;
            transition: 00.5s;
            svg {
                height: 16px;
            }
        }
        button:hover {
            background-color: $color;
        }   
            
    } 
}
@media (min-width: 462px) and (max-width: 559px) {
    footer {
        .footer-items {
            position: relative;
            flex-direction: column;
            height: 75px;
            p {
                flex-grow: 0;
                align-self: center;
            }
            ul {
                align-self: center;
                li {
                    margin-left: 5px;
                }
                li:first-child {
                    margin: 0;
                }
            }
            button {
                position: absolute;
                align-self: flex-end;
                height: 75px;
            }
        }
    }
}
@media (max-width: 461px) {
    footer {
        .footer-items {
            position: relative;
            flex-direction: column;
            height: 75px;
            p {
                flex-grow: 0;
                align-self: flex-start;
                max-width: 280px;
            }
            ul {
                align-self: flex-start;
                li {
                    margin-left: 5px;
                }
                li:first-child {
                    margin: 0;
                }
            }
            button {
                position: absolute;
                align-self: flex-end;
                height: 75px;
            }
        }
    }
} 



// Настройка страницы ABOUT!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.page-header {
    padding: 50px 0 50px 0;
    background-color: #323232;
}
@media (max-width: 1165px) {
    .page-header {
        padding: 15px 0 23px 0;
    }
}


// Настройка секции welcome

.welcome {
    padding-top: 11vh;
    padding-bottom: 11vh;
    p {
        max-width: 882px;
        text-align: center;
        line-height: 1.7;
        margin: 0 auto;
        margin-top: 60px;
    }
}

// Настройка секции believe

.believe {
    background-color:#fbfbfb;
    padding-top: 40px;
    .believe-group {
        display: flex;
        justify-content: center;
        img {
            margin: 0 47px 0 18px;
            object-fit: contain;
        }
        .believe-content {
            h3 {
                padding-top: 30px;
            }
            span {
                display: block;
                height: 2px;
                width: 70px;
                background-color: $color;
            }
            p {
                margin: 34px 0 42px 0px;
                text-align: justify;
                line-height: 1.85;
                overflow-wrap: normal;
            }
            img {
                margin: 0;
            }
        }
    }
}
@media (min-width: 996px) and (max-width: 1169px) {
    .believe {
        .believe-group {
            .believe-content {
                h3 {
                    padding: 0;
                }
                p {
                    max-width: 500px;
                }
            }
        }
    }
}
@media (min-width: 859px) and (max-width: 995px) {
    .believe {
        .believe-group {
            .believe-content {
                h3 {
                    padding: 0;
                    margin: 0 0 24px 0;
                }
                p {
                    max-width: 400px;
                    margin: 32px 0 32px 0;
                }
            }
        }
    }
}
@media (min-width: 300px) and (max-width: 858px) {
    .believe {
        .believe-group {
            flex-direction: column;
            img {
                margin: 0;
            }
            .believe-content {
                padding: 0 5px 10px 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    padding: 0;
                }
                p {
                    max-width: 400px;
                    margin: 32px 0 32px 0;
                }
            }
        }
    }
}

// Настройка секции choose!!


.choose {
    padding: 72px 0 98px 0;
    p {
        margin-top: 60px;
        max-width: 882px;
        margin-bottom: 46px;
    }
    .choose-group {
        display: flex;
        justify-content: space-between;
        .choose-item {
            width: 270px;
            height: 246px;
            background-color: #99286b;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: #fff;
            svg {
                fill: #fff;
            }
            h4 {
                font-family: "OpenSans-Semibold", sans-serif;
                font-size: 14px;
            }
        }
    }
}

@media (min-width: 1120px) and (max-width: 1169px) {
    .choose {
        .choose-group {
            justify-content: space-around;
        }
    }
}

@media (min-width: 600px) and (max-width: 1119px) {
    .choose {
        .choose-group {
            justify-content: space-around;
            margin: 0 auto;
            flex-wrap: wrap;
            max-width: 600px;
            .choose-item {
                margin-bottom: 28px;
            }
        }
    }
}
@media(max-width: 599px) {
    .choose {
        .choose-group {
            flex-direction: column;
            align-items: center;
            .choose-item {
                margin-bottom: 28px;
            }
        }
    }
}

// Настройка about-testimonials!!!

.about-testimonials {
    // background-color: #434343;
    background-image: url("../media/about/about-test@3x.jpg");
    background-size: cover;
    background-position: bottom;
    color: #fff;
    padding: 55px 0 100px 0;

    .section-header::after {
        background-color: #fff;
    }

    .slider .slick-next{
        right: 7%;
        top: 48%;
    }
    
    .slider .slick-prev {
        left: 7%;
        top: 48%;
    }

}

// Настройка секции meet our team!!!
.team {
    padding: 77px 0 80px 0;
    .team-gallery {
        margin-top: 80px;
        display: grid;
        grid-template-rows:  180px 180px;
        grid-template-columns: 180px 180px 200px 200px 180px 180px;
        gap: 10px 10px;
    
        .team-item1,
        .team-item2,
        .team-item3,
        .team-item4,
        .team-item5,
        .team-item6,
        .team-item7,
        .team-item8,
        .team-item9 {
            position: relative;
        }
    
        .team-item1 {
            grid-row: 1 / 2;
            grid-column: 1 / 2;
        }
        
        .team-item2 {
            grid-row: 1 / 2;
            grid-column: 2 / 3;
        }
        
        .team-item3 {
            grid-row: 1 / 3;
            grid-column: 3 / 5;
            .team-item3-bgr {
                list-style: none;
                display: flex;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                padding: 170px 171px 169px 171px;
                margin: 0;
                transition: 0.5s;
                svg {
                    height: 28px;
                }
            }
            .team-item3-bgr:hover {
                background-color: $color;
                opacity: 0.7;
            }
        }
        
        .team-item4 {
            grid-row: 1 / 2;
            grid-column: 5 / 6;
        }
        
        .team-item5 {
            grid-row: 1 / 2;
            grid-column: 6/7;
        }
        
        .team-item6 {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }
        
        .team-item7 {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }
        
        .team-item8 {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
        }
    
        .team-item9 {
            grid-row: 2 / 3;
            grid-column: 6 / 7;
        }
        
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        svg {
            height: 16px;
            fill: #fff;
        }
        ul {
            list-style: none;
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            padding: 81px 66px 80px 67px;
            margin: 0;
            transition: 0.5s;
            
            a {
                padding: 5px;
            }
        }
        ul:hover {
            background-color: $color;
            opacity: 0.7;
        }
    }
}
.about-brands {
    margin-top: 94px;
}
@media (min-width: 800px) and (max-width: 1169px) {
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-header::after {
            top: 100px;
        }
        .team-gallery {
            margin-top: 80px;
            display: grid;
            grid-template-rows:  180px 180px 180px;
            grid-template-columns: 180px 180px 180px 180px;
            gap: 10px 10px;

            .team-item1 {
                grid-row: 1 / 2;
                grid-column: 1 / 2;
            }
            
            .team-item2 {
                grid-row: 2 / 3;
                grid-column: 1 / 2;
            }
            
            .team-item3 {
                grid-row: 1 / 3;
                grid-column: 2 / 4;
                .team-item3-bgr {
                    padding: 170px 150px 169px 150px;
                }
            }
            
            .team-item4 {
                grid-row: 1 / 2;
                grid-column: 4 / 5;
            }
            
            .team-item5 {
                grid-row: 2 / 3;
                grid-column: 4 / 5;
            }
            
            .team-item6 {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
            }
            
            .team-item7 {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }
            
            .team-item8 {
                grid-row: 3 / 4;
                grid-column: 3 / 4;
            }
        
            .team-item9 {
                grid-row: 3 / 4;
                grid-column: 4 / 5;
            }
        }
    }            
}

@media (min-width: 380px) and (max-width: 799px) {
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-header::after {
            top: 100px;
        }
        .team-gallery {
            margin-top: 80px;
            display: grid;
            grid-template-rows:  180px 180px 180px 180px 180px 180px;
            grid-template-columns: 180px 180px;
            gap: 10px 10px;

            .team-item1 {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
            }
            
            .team-item2 {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }
            
            .team-item3 {
                grid-row: 1 / 3;
                grid-column: 1 / 3;
                .team-item3-bgr {
                    padding: 170px 150px 169px 150px;
                }
            }
            
            .team-item4 {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
            }
            
            .team-item5 {
                grid-row: 4 / 5;
                grid-column: 2 / 3;
            }
            
            .team-item6 {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
            }
            
            .team-item7 {
                grid-row: 5 / 6;
                grid-column: 2 / 3;
            }
            
            .team-item8 {
                grid-row: 6 / 7;
                grid-column: 1 / 2;
            }
        
            .team-item9 {
                grid-row: 6 / 7;
                grid-column: 2 / 3;
            }
        }
    }            
}
@media (max-width: 379px) {
    .team {
        display: flex;
        flex-direction: column;
        align-items: center;
        .section-header::after {
            top: 100px;
        }
        .team-gallery {
            margin-top: 80px;
            display: grid;
            grid-template-rows:  140px 140px 140px 140px 140px 140px;
            grid-template-columns: 140px 140px;
            gap: 10px 10px;

            .team-item1 {
                grid-row: 3 / 4;
                grid-column: 1 / 2;
            }
            
            .team-item2 {
                grid-row: 3 / 4;
                grid-column: 2 / 3;
            }
            
            .team-item3 {
                grid-row: 1 / 3;
                grid-column: 1 / 3;
                .team-item3-bgr {
                    padding: 130px 111px 130px 111px;
                }
            }
            
            .team-item4 {
                grid-row: 4 / 5;
                grid-column: 1 / 2;
            }
            
            .team-item5 {
                grid-row: 4 / 5;
                grid-column: 2 / 3;
            }
            
            .team-item6 {
                grid-row: 5 / 6;
                grid-column: 1 / 2;
            }
            
            .team-item7 {
                grid-row: 5 / 6;
                grid-column: 2 / 3;
            }
            
            .team-item8 {
                grid-row: 6 / 7;
                grid-column: 1 / 2;
            }
        
            .team-item9 {
                grid-row: 6 / 7;
                grid-column: 2 / 3;
            }
            ul {
                padding: 61px 46px 61px 46px;
            }
        }
    }            
}    


// НАСТРОЙКА СТРАНИЦЫ projects !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.page-projects {
    padding: 76px 0 105px 0;
    p {
        margin-top: 60px;
        max-width: 882px;
    }
    .button-projects {
        margin-top: 62px;
        text-align: center;
        button {
            margin: 0 2px;
            font-size: 13px;
            color: #fff;
            background-color: $color;
            border: solid 1px $color;
            border-radius: 3px;
            box-sizing: border-box;
            transition: 0.5s;
        }
        button + button {
            padding: 16px 26px 16px 26px;
            text-transform: capitalize;
        }
        button:first-child {
            padding: 16px 44px 16px 44px;
        }
        .active {
            background-color: transparent;
            color: $color;
        }
    }
    .page-projects-gallery {
        margin-top: 34px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .page-projects-item {
            height: 292px;
            width: 292px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}
.hide {
    display: none;
}
@media(max-width: 899px) {
    .page-projects {
        p {
            padding: 0 15px;
        }
        .button-projects {
            button {
                margin-bottom: 10px;
            }
        }
    }
}

// НАСТРОЙКА СТРАНИЦЫ CONTACT!!!!!!!!!!!!!!!!!!! !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.contact {
    padding-top: 48px;
    padding-bottom: 104px;
    p {
        margin-top: 60px;
    }
}

.contact-block {
    display: flex;
    margin-top: 76px;
    h5 {
        font-family: "OpenSans-Bold", sans-serif;
        font-size: 22px;
        color: $color;
        margin: 0;
        font-weight: 900;
    }
    .contact-form {
        h5 {
            margin-bottom: 38px;
        }
    }
    form {
        width: 670px;
        display: flex;
        flex-direction: column;
        input {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
        }
        .form-text {
            input {
                width: 100%;
                height: 54px;
                margin-bottom: 8px;
                border: solid 1px #e6e6e6;
                border-radius: 3px;
                padding-left: 40px;
            }
        }
        .form-submit {
            text-align: end;
        }
        textarea {
            resize: none;
            height: 214px;
            box-sizing: border-box;
            border: solid 1px #e6e6e6;
            border-radius: 3px;
            outline: none;
            padding-left: 40px;
            padding-top: 16px;
            
        }
    }
    .form-submit {
        input {
            background-color: $color;
            font-size: 13px;
            color: #fff;
            border: none;
            width: 112px;
            height: 40px;
            border-radius: 3px;
            margin-top: 16px;
            cursor: pointer;
        }
        input:hover {
            background-color:  #99286bc9;
        }
    }
    .contact-content {
        padding-left: 30px;
        h5 {
            margin-bottom: 30px;
        }
        p {
            margin: 0;
            padding: 0;
            text-align: justify;
            font-size: 14px;
        }
        .contact-item {
            margin-top: 48px;
            p:first-child {
                font-weight: 900;
            }
            span {
                text-decoration: underline;
            }
            p:last-child {
                padding-left: 48px;
            }
        }
    }
}

@media (min-width: 938px) and (max-width: 1185px) {
    .contact {
        padding: 48px 10px 104px 10px;
    }
}
@media (min-width: 300px) and (max-width: 937px) {
    .contact {
        padding: 48px 10px 104px 10px;
    }
    .contact-block {
        flex-direction: column-reverse;
        form {
            max-width: 670px;
            width: 100%;
        }
        .contact-content {
            padding: 0;
            margin-bottom: 30px;
        }
    }
}

// НАСТРОЙКА СТРАНИЦЫ BLOG!!!!!!!!!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!

.blog {
    display: flex;
    padding-top: 98px;
    padding-bottom: 118px;
    .blog-container {
        margin: 0 30px 0 0;
    }
    .blog-item {
        display: flex;
        position: relative;
        margin-bottom: 102px;
    }
    article.blog-item::before {
        content: "";
        position: absolute;
        width: 100%;
        max-width: 800px;
        height: 1px;
        background-color:  #b5b5b5;
        bottom: -55px;
        left: 70px;
    }
    .time-item {
        background-color: $color;
        width: 62px;
        height: 68px;
        color: white;
        text-align: center;
        border-radius: 5px;
        margin-right: 7px;
        display: flex;
        align-items: center;
        span {
            font-size: 27px;
        }
        p {
            font-size: 11px;
            text-transform: uppercase;
            line-height: 1.15;
        }
    }
    .blog-content {
        max-width: 800px;
        img {
            width: 100%;
            max-height: 350px;
            object-fit: cover;
        }
        h2 {
            font-size: 22px;
            font-family: "OpenSans-Bold", sans-serif;
            color: $color;
            text-transform: none;
            margin: 0;
            margin-top: 20px;
        }
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 0;
            margin-top: 14px
        }
        li {
            border-right: solid 1px #b5b5b5;
            padding-right: 8px;
            box-sizing: border-box;
            height: 11px;
            display: flex;
            margin-right: 9px;
        }
        li:last-child {
            border: none;
        }
        a {
            text-decoration: none;
            color: #b5b5b5;
            font-size: 11px;
        }
        p {
            text-align: justify;
            font-size: 14px;
            margin-top: 22px;
            margin-bottom: 45px;
        }
        .article-btn {
            background-color: $color;
            color: #fff;
            box-sizing: border-box;
            border-radius: 3px;
            font-size: 13px;
            padding: 10px 25px;
        }
        .article-btn:hover {
            background-color: #99286bc9;
        }
    }
}
.blog-aside {
    width: 100%;
    max-width: 270px;
    form {
        position: relative;
        svg {
            position: absolute;
            top: 18px;
            right: 30px;
            height: 15px;
        }
    }
    input {
        width: 100%;
        height: 55px;
        border: solid 1px #b5b5b5;
        border-radius: 3px;
        outline: none;
        padding-left: 27px;
    }
}

.blog-categories {
    padding-top: 44px;
    h4 {
        text-transform: capitalize;
        margin: 0;
    }
    ul {
        list-style-image: url("../media/blog/icons/categories-right.svg");
        padding-left: 16px;
        margin-top: 10px;
    }
    li {
        border-bottom: solid 1px #b5b5b5;
        padding: 15px 0 14px 14px;
    }
    li:last-child {
        border: none;
    }
    a {
        text-decoration: none;
        color: #b5b5b5;
        font-size: 14px;
        padding: 2px 0;
    }
}
.blog-tweets {
    padding-top: 30px;
    h4 {
        margin: 0;
        text-transform: none;
    }
    .tweets-item {
        display: flex;
        margin-top: 22px;
    }
    svg {
        fill: #b5b5b5;
        height: 22px;
        margin-top: 2px;
    }
    p {
        flex-shrink: 6;
        text-align: justify;
        color: #b5b5b5;
        font-size: 14px;
        padding-left: 15px;
    }
    a {
        text-decoration: none;
        color: #939393;
    }
}

.page-numbers {
    padding-left: 70px;
    list-style: none;
    display: flex;
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px #d0d0d0;
        border-radius: 3px;
        font-size: 14px;
        height: 46px;
        width: 38px;
        box-sizing: border-box;
        margin-right: 5px;
        a {
            color:  #d0d0d0;
            text-decoration: none;
        }
    }
    li:last-child {
        border: none;
        width: 76px;
        svg {
            transform: translate(18%, 18%);
        }
    }
    li:first-child {
        background-color: #d0d0d0;
        a {
            color: #fff;
        }
    }
}

@media (min-width: 600px) and (max-width: 1189px) {
    .blog {
        padding: 98px 10px 118px 10px;
        .time-item {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        article.blog-item::before {
            left: 0;
        }
    }
}
@media(max-width: 599px) {
    .blog {
        padding: 98px 10px 118px 10px;
        flex-direction: column;
        align-items: center;
        .blog-container {
            margin: 0;
        }
        .time-item {
            position: absolute;
            top: 10px;
            left: 10px;
        }
        article.blog-item::before {
            left: 0;
        }
    }
    .blog-aside {
        margin-top: 50px;
    }
}

// НАСТРОЙКА СТРАНИЦЫ СТАТЬИ БЛОГА!!!!!!!!!!!
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

.article-blog {
    display: flex;
    padding: 80px 0 74px 0;
    .article-container {
        margin-right: 30px;
    }
    .article-item {
        max-width: 870px;
        h2 {
            font-size: 22px;
            font-family: "OpenSans-Bold", sans-serif;
            color: $color;
            text-transform: none;
            margin: 0;
        }
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            margin: 10px 0px 20px 0;
        }
        li {
            border-right: solid 1px #b5b5b5;
            padding-right: 8px;
            box-sizing: border-box;
            height: 11px;
            display: flex;
            margin-right: 9px;
        }
        li:last-child {
            border: none;
        }
        a {
            text-decoration: none;
            color: #b5b5b5;
            font-size: 11px;
        }
        iframe {
            height: 437px;
            width: 100%;
        }
        p {
            text-align: justify;
            font-size: 14px;
            margin-top: 30px;
        }
        span {
            font-weight: 900;
        }
    }
    .article-social {
        width: 100%;
        height: 60px;
        background-color: $color;
        display: flex;
        align-items: center;
        margin-top: 38px;
        p {
            text-transform: capitalize;
            margin: 0 0 0 38px;
            font-size: 14px;
            color: #fff;
        }
        ul {
            list-style: none;
            display: flex;
            padding-left: 22px;
        }
        li {
            margin-right: 10px;
        }
        svg {
            height: 20px;
            fill: #fff;
            transition: 0.5s;
        }
        svg:hover {
            transform: rotate(360deg);
        }
    }
}

.comments {
    .new-comments {
        position: relative;
        padding-left: 72px;
        margin-bottom: 40px;
    }
    h6 {
        font-size: 18px;
        font-family: "OpenSans-Bold", sans-serif;
        color: $color;
        text-transform: capitalize;
        margin: 42px 0 30px 0;
    }
    .header-comments {
        display: flex;
        align-items: center;
        svg {
            fill: #b5b5b5;
            height: 14px;
        }
        p {
            margin: 0 20px 0 10px;
            font-size: 11px;
            color:  #b5b5b5;
        }
        span {
            font-weight: 900;
            font-size: 14px;
        }
    }
    p {
        font-size: 14px;
        margin: 0;
        text-align: start;
    }
    .text-comments {
        margin-top: 9px;
        padding-left: 21px;
        color:  #b5b5b5;
    }
    .new-comments::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 70px;
        height: 1px;
        width: 100%;
        max-width: 800px;
        background-color: #b5b5b5;
    }
    h5 {
        font-size: 18px;
        font-family: "OpenSans-Bold", sans-serif;
        color: $color;
        margin: 75px 0 20px 0;

    }
    textarea {
        resize: none;
        height: 177px;
        width: 100%;
        box-sizing: border-box;
        border: solid 1px #b5b5b5;
        border-radius: 3px;
        outline: none;
        padding-left: 40px;
        padding-top: 16px;
        
    }
    .form-comments {
        text-align: end;
        input {
            background-color: $color;
            font-size: 13px;
            color: #fff;
            border: none;
            width: 110px;
            height: 38px;
            border-radius: 3px;
            margin-top: 14px;
            cursor: pointer;
        }
        input:hover {
            background-color: #99286bc9;
        }
    }
}
.top-article {
    margin-top: 68px;
    h4 {
        margin: 0;
        text-transform: none;
    }
    .top-article-item {
        display: flex;
        margin-top: 20px;
        position: relative;
    }
    .top-article-item::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #b5b5b5;
        bottom: 0;
        left: 0;
    }
    .top-article-img {
        width: 92px;
        height: 66px;
        margin-right: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .top-article-header {
        max-width: 170px;
        ul {
            list-style: none;
            display: flex;
            padding: 0;
            a {
                font-size: 10px;
                color: #b5b5b5;
            }
        }
        li {
            border-right: solid 1px #b5b5b5;
            height: 9px;
            display: flex;
            padding-right: 8px;
            margin-right: 8px;
        }
        li:last-child {
            padding: 0;
            margin: 0;
            border: none;
        }
        a {
            text-decoration: none;
            font-size: 12px;
            color: #000000;
        }
        
    }
    
}
@media (min-width: 600px) and (max-width: 1189px) {
    .article-blog {
        padding: 80px 10px 74px 10px;
    }
    .comments .new-comments::after {
       left: 0;
    }
    .top-article .top-article-header ul a {
        font-size: 9px;
    }
}
@media(max-width: 599px) {
    .article-blog {
        flex-direction: column;
        align-items: center;
        padding: 80px 10px 74px 10px;
        .article-container {
            margin: 0;
        }
    }
    .comments .new-comments::after {
       left: 0;
    }
    .top-article .top-article-header ul a {
        font-size: 9px;
    }
}













